html {
    text-align: center;
    font-family: monospace;
}

body {
    display: flex;
    justify-content: center;
}

.calculator {
    width: 400px;
    background-color: #132a13;
    border: 15px solid #132a13;
}

.display {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100px;
    background-color: #dad7cd;
    margin-bottom: 5px;
}

.display > p {
    padding: 25px;
    font-size: 72px;
    font-weight: 900;
    color: #132a13;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
}

.evaluate, .clear {
    flex-basis: 200px;
    background-color: #344e41;
    color: #dad7cd;
}

.evaluate:active, .clear:active {
    background-color: #456857;
}

button {
    flex-basis: 100px;
    height: 100px;
    font-size: 24px;
    font-family: monospace;
    border: 1px solid #132a13;
}

.negate, .operator {
    background-color: #588157;;
}

.negate:active, .operator:focus {
    background-color: #6E9C6D;
}

.number, .decimal {
    background-color: #a3b18a;
}

.number:active, .decimal:active {
    background-color: #BEC8AC;
}

